:root {
  --primary-color: #FC8019;
  --secondary-color: #AD4728;
  --light-accent-color: #FCA65E;
  --dark-text-color: #282C3F;
  --light-text-color: #FFFFFF;
  --light-bg-color: #F7F7F7;
  --dark-bg-color: #282C3F;
  --card-bg-light: #FFFFFF;
  --card-bg-dark: #3E4459;
}
