:root {
  --primary-color: #f72585; /* Vibrant Pink */
  --secondary-color: #7209b7; /* Deep Purple */
  --light-accent-color: #4cc9f0; /* Bright Cyan */
  --dark-text-color: #f0f0f0; /* Soft white for default text */
  --light-text-color: #ffffff; /* Luminous white for highlighted text */
  --light-bg-color: rgba(255, 255, 255, 0.1); /* Faintly visible light background */
  --dark-bg-color: #0f0c29; /* Deep space blue */
  --card-bg-light: rgba(255, 255, 255, 0.1);
  --card-bg-dark: rgba(30, 30, 30, 0.1);
}
